{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <h1>{{ page_title }}</h1>
                        <div class='row'>
                            <div align="middle">
                                <h1>Вписать слово</h1>
                            <div>
                            <div class='col-12' align="middle">
                                <div class="card" style="width: 30rem;" align="middle">
                                    <div class="card-body">
                                        {% if new_words_number %}
                                            <p class="card-text"><font size="6">{{ guess_word }}</font></p>
                                            <form action="{{ url_for(
                                                'exercises.insert_translation_of_frenchword_answer',
                                                username=current_user.username,
                                                guess_word=guess_word) }}"
                                                method="post">
                                            {{ form.hidden_tag() }}
                                            <div class="input-group-append">
                                                {{ form.word() }}
                                                {{ form.send() }}
                                            </div>
                                            <br />
                                            <a href="{{ url_for('.insert_translation_of_frenchword',
                                            username=current_user.username) }}"
                                            class="btn btn-outline-secondary btn-sm btn-block">далее</a>
                                        {% else %}
                                            <br />
                                            <br />
                                            Закончились доступные слова для данной тренировки
                                            <br />
                                            <br />
                                            <br />
                                        {% endif %}
                                    </div>
                                </div>
                                {% if new_words_number %}
                                    Доступно слов для тренировки: {{ new_words_number }}
                                {% endif %}
                                <br />
                                <br />
                                <a href="{{ url_for(
                                '.choose_exercise',
                                username=current_user.username) }}"
                                class="btn btn-outline-info">
                                    Назад к выбору тренировок
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
