{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <h1>{{ page_title }}</h1>
                        <div class='row'>
                            <div align="middle">
                                <h1>Перевод - слово</h1>
                            <div>
                            <div class='col-12' align="middle">
                                <div class="card" style="width: 30rem;" align="middle">
                                    <div class="card-body">
                                        <p class="card-text"><font size="6">{{ guess_word }}</font></p>
                                        <p>
                                            <button class="btn btn-outline-info"
                                            type="button" data-toggle="collapse"
                                             data-target="#collapseExample" aria-expanded="false"
                                             aria-controls="collapseExample">
                                                Показать варианты
                                            </button>
                                        </p>
                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                <a href="{{ url_for('exercises.translation_frenchword_answer', 
                                                username=current_user.username,
                                                user_answer=0,
                                                guess_word=guess_word,
                                                mixture=mixture) }}"
                                                class="list-group-item list-group-item-action">
                                                    {{ mixture[0] }}
                                                </a>
                                                <a href="{{ url_for('exercises.translation_frenchword_answer', 
                                                username=current_user.username,
                                                user_answer=1,
                                                guess_word=guess_word,
                                                mixture=mixture) }}"
                                                class="list-group-item list-group-item-action">
                                                    {{ mixture[1] }}
                                                </a>
                                                <a href="{{ url_for('exercises.translation_frenchword_answer', 
                                                username=current_user.username,
                                                user_answer=2,
                                                guess_word=guess_word,
                                                mixture=mixture) }}"
                                                class="list-group-item list-group-item-action">
                                                    {{ mixture[2] }}
                                                </a>
                                                <a href="{{ url_for('exercises.translation_frenchword_answer', 
                                                username=current_user.username,
                                                user_answer=3,
                                                guess_word=guess_word,
                                                mixture=mixture) }}"
                                                class="list-group-item list-group-item-action">                                                    {{ mixture[3] }}
                                                </a>
                                                <a href="{{ url_for('exercises.translation_frenchword_answer', 
                                                username=current_user.username,
                                                user_answer=4,
                                                guess_word=guess_word,
                                                mixture=mixture) }}"
                                                class="list-group-item list-group-item-action">                                                    {{ mixture[4] }}
                                                </a>
                                                <br>
                                                <a href="{{ url_for('exercises.translation_frenchword',
                                                username=current_user.username) }}"
                                                class="btn btn-outline-secondary btn-sm">далее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <a href="{{ url_for(
                                'dictionary.user_frenchdict_index',
                                username=current_user.username) }}"
                                class="btn btn-outline-info">
                                    Назад во французский словарь
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
