{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h1">{{ title }}</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <h1 class="h1">{{ user.username }}</h1>
                            <br />
                            {% if user_status == 'Teacher' %}
                                <form action="{{ url_for('user.stop_teacher', username=current_user.username) }}" method="post">
                                    {{ stop_teacher_form.hidden_tag() }}
                                    <div class="form-group form-check">
                                        {{ stop_teacher_form.stop_teacher() }}
                                        {{ stop_teacher_form.stop_teacher.label(class_='form-check-label') }}
                                    </div>
                                    {{ stop_teacher_form.submit() }}
                                </form>
                            {% elif user_status == 'Student' %}
                                <form action="{{ url_for('user.stop_student', username=current_user.username) }}" method="post">
                                    {{ stop_student_form.hidden_tag() }}
                                    <div class="form-group form-check">
                                        {{ stop_student_form.stop_student() }}
                                        {{ stop_student_form.stop_student.label(class_='form-check-label') }}
                                    </div>
                                    {{ stop_student_form.submit() }}
                                </form>
                            {% else %}
                                <h4 class="h4">Стать учителем или учеником</h4>
                                <form action="{{ url_for('user.select_tch_std', username=current_user.username) }}" method="post">
                                    {{ select_form.hidden_tag() }}
                                    {% for subfield in select_form.select_tch_std %}
                                    <div>
                                        <td>{{ subfield }}</td>
                                        <td>{{ subfield.label }}</td>
                                    </div>
                                    {% endfor %}
                                    {{ select_form.submit() }}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
