{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="media">
                      <img class="rounded-circle align-self-end mr-3" width="80" height="80" src="{{ image_file }}">
                      <div class="media-body align-self-end">
                        <h1 class="account-heading">{{ user.username }}</h1>
                      </div>
                    </div>
                </div>
                <div class="col-5">
                    <h4 class="h4">Внести изменения в профиль</h4>
                    <form method="POST" action="{{ url_for('user.update_account', username=current_user.username) }}" enctype="multipart/form-data">
                        {{ update_account_form.hidden_tag() }}
                        <div class="form-group">
                            {{ update_account_form.email.label }}
                            {{ update_account_form.email() }}
                            {% for error in update_account_form.email.errors %}
                            <span style="color: orange;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ update_account_form.picture.label() }}
                            {{ update_account_form.picture(class="form-control-file") }}
                            {% for error in update_account_form.picture.errors %}
                            <span style="color: orange;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ update_account_form.submit() }}
                    </form><br>
                    {% if user_status == 'Teacher' %}
                        <form action="{{ url_for('user.stop_teacher', username=current_user.username) }}" method="POST">
                            {{ stop_teacher_form.hidden_tag() }}
                            <div class="form-group form-check">
                                {{ stop_teacher_form.stop_teacher() }}
                                {{ stop_teacher_form.stop_teacher.label(class_='form-check-label') }}
                            </div>
                            {{ stop_teacher_form.submit() }}
                        </form>
                    {% elif user_status == 'Student' %}
                        <form action="{{ url_for('user.stop_student', username=current_user.username) }}" method="POST">
                            {{ stop_student_form.hidden_tag() }}
                            <div class="form-group form-check">
                                {{ stop_student_form.stop_student() }}
                                {{ stop_student_form.stop_student.label(class_='form-check-label') }}
                            </div>
                            {{ stop_student_form.submit() }}
                        </form>
                    {% else %}
                        <h4 class="h4">Стать учителем или учеником</h4>
                        <form action="{{ url_for('user.select_tch_std', username=current_user.username) }}" method="POST">
                            {{ select_form.hidden_tag() }}
                            {% for subfield in select_form.select_tch_std %}
                            <div>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </div>
                            {% endfor %}
                            {{ select_form.submit() }}
                        </form>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
{% endblock %}
