{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h1">{{ title }}</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            {% if teacher_list_len > 0 %}
                                <h4>Количество моих учителей: {{ teacher_list_len }}</h4>
                                {% for teacher in list_of_teachers %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="media">
                                              <img class="rounded-circle align-self-end mr-3" width="30" height="30" src="/static/profile_pics/{{teacher[1]}}">
                                              <div class="media-body align-self-end">
                                                <h5 class="account-heading">{{ teacher[0] }}</h5>
                                              </div>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <h4>У меня пока нет учителей</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
