{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/admin_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <h1>{{ page_title }}</h1>
                        <div class='row'>
                            <div class='col-12'>
                                <form action="{{ url_for('dictionary.process_engdict_search_rus', username=current_user.username) }}" method="post">                
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">{{ form.word.label }}</label>
                                        <div class="input-group">
                                            {{ form.word() }}
                                            {{ form.csrf_token }}
                                            <div class="input-group-append">
                                                {{ form.search() }}
                                                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{{ url_for('dictionary.engdict_index', username=current_user.username) }}">Английское слово</a>
                                                    <a class="dropdown-item" href="{{ url_for('dictionary.engdict_index_rus', username=current_user.username) }}">Русское слово</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p>Всего английских слов: {{ english_list_len }}</p>
                                <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Слово</th>
                                    <th scope="col">Перевод</th>
                                    <th scope="col">Транскрипция</th>
                                    <th scope="col">Дата добавления</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th scope="row">{{ english_word.id }}</th>
                                    <td>{{ english_word.word_itself }}</td>
                                    <td>{{ english_word.translation_rus }}</td>
                                    <td>{{ english_word.transcription }}</td>
                                    <td>{{ english_word.imported_time.strftime('%d.%m.%Y') }}</td>
                                    </tr>
                                </tbody>
                                </table>                
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
