{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <h1>{{ page_title }}</h1>
                        <div class='row'>
                            <div class='col-12'>
                                <form action="{{ url_for(
                                    'dictionary.user_process_frenchdict_search',
                                    username=current_user.username) }}"
                                    method="post">
                                {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">{{ form.word.label }}</label>
                                        <div class="input-group">
                                            {{ form.word() }}
                                            <div class="input-group-append">
                                                {{ form.search() }}
                                                <button type="button" 
                                                class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" 
                                                data-toggle="dropdown" 
                                                aria-haspopup="true" 
                                                aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_frenchdict_index_new',
                                                        username=current_user.username) }}">
                                                        Новые
                                                    </a>
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_frenchdict_index_familiar',
                                                        username=current_user.username) }}">
                                                        Изученные
                                                    </a>
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_frenchdict_index_forgotten',
                                                        username=current_user.username) }}">
                                                        Забытые
                                                    </a>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_frenchdict_index',
                                                        username=current_user.username) }}">
                                                        Все слова
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% if french_list_len %}
                                    <p>Всего французских слов: {{ french_list_len }}</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                            <th scope="col">Слово</th>
                                            <th scope="col">Перевод</th>
                                            <th scope="col">Статус</th>
                                            <th scope="col">Дата добавления</th>
                                            </tr>
                                        </thead>
                                        {% for word_tuple in french_list %}
                                        <tbody>
                                            <tr>
                                            <td>{{ word_tuple[0].word_itself }}</td>
                                            <td>{{ word_tuple[0].translation_rus }}</td>
                                            <td>{{ word_tuple[1] }}</td>
                                            <td>{{ word_tuple[2].strftime('%d.%m.%Y') }}</td>
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                    </table>
                                {% else %}
                                    <p>Ваш словарь пуст</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
