{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <h1>{{ page_title }}</h1>
                        <div class='row'>
                            <div class='col-12'>
                                <form action="{{ url_for('dictionary.user_process_engdict_search', username=current_user.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">{{ form.word.label }}</label>
                                        <div class="input-group">
                                            {{ form.word() }}
                                            <div class="input-group-append">
                                                {{ form.search() }}                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p>Всего английских слов: {{ english_list_len }}</p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                        <th scope="col">Слово</th>
                                        <th scope="col">Перевод</th>
                                        <th scope="col">Транскрипция</th>
                                        <th scope="col">Статус</th>
                                        <th scope="col">Дата добавления</th>
                                        </tr>
                                    </thead>
                                    {% for word in english_list %}
                                    <tbody>
                                        <tr>
                                        <td>{{ word[0].word_itself }}</td>
                                        <td>{{ word[0].translation_rus }}</td>
                                        <td>{{ word[0].transcription }}</td>
                                        <td>{{ word[1] }}</td>
                                        <td>{{ word[2].strftime('%d.%m.%Y') }}</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                </table>                
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
