{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <h1>{{ page_title }}</h1>
                        <div class='row'>
                            <div class='col-12'>
                                <form action="{{ url_for(
                                    'dictionary.user_process_engdict_search',
                                    username=current_user.username) }}"
                                    method="post">
                                {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">{{ form.word.label }}</label>
                                        <div class="input-group">
                                            {{ form.word() }}
                                            <div class="input-group-append">
                                                {{ form.search() }}
                                                <button type="button" 
                                                class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" 
                                                data-toggle="dropdown" 
                                                aria-haspopup="true" 
                                                aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_engdict_index_new',
                                                        username=current_user.username) }}">
                                                        Новые
                                                    </a>
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_engdict_index_familiar',
                                                        username=current_user.username) }}">
                                                        Изученные
                                                    </a>
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_engdict_index_forgotten',
                                                        username=current_user.username) }}">
                                                        Забытые
                                                    </a>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="{{ url_for(
                                                        'dictionary.user_engdict_index',
                                                        username=current_user.username) }}">
                                                        Все слова
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% if english_list_len %}
                                    <p>Всего английских слов: {{ english_list_len }}</p>
                                    <table class="table table-bordered">
                                        <thead align='middle'>
                                            <tr>
                                            <th scope="col">Слово</th>
                                            <th scope="col">Перевод</th>
                                            <th scope="col">Транскрипция</th>
                                            <th scope="col">Статус</th>
                                            <th scope="col">Дата добавления</th>
                                            <th scope="col">
                                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil text-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                                </svg>
                                            </th>
                                            <th scope="col">
                                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </th>
                                            </tr>
                                        </thead>
                                        {% for word_tuple in english_list %}
                                            <tbody>
                                                <tr>
                                                <td>{{ word_tuple[0].word_itself }}</td>
                                                <td>{{ word_tuple[0].translation_rus }}</td>
                                                <td>
                                                    {% if word_tuple[0].transcription %}
                                                        {{ word_tuple[0].transcription }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td align='middle'>
                                                    {% if word_tuple[1] == 'new' %}
                                                        новое
                                                    {% elif word_tuple[1] == 'familiar' %}
                                                        изученное
                                                    {% elif word_tuple[1] == 'forgotten' %}
                                                        забытое
                                                    {% endif %}
                                                </td>
                                                <td align='middle'>{{ word_tuple[2].strftime('%d.%m.%Y') }}</td>
                                                <td align='middle'>
                                                    <a href="{{ url_for('dictionary.user_edit_engword', 
                                                        username=current_user.username,
                                                        word_to_edit=word_tuple[0].word_itself) }}">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil text-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                                        </svg>
                                                    </a>
                                                </td>
                                                <td align='middle'>
                                                    <a href="{{ url_for('dictionary.user_delete_engword_button', 
                                                        username=current_user.username,
                                                        word_to_delete=word_tuple[0].word_itself) }}">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
                                                    </a>
                                                </td>
                                                </tr>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <p>Ваш словарь пуст</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
