{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'user/user_page_menu.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <h1>{{ page_title }}</h1>
                        <div class='row'>
                            <div class='col-12'>
                                <form action="{{ url_for('dictionary.user_process_frenchdict_search', username=current_user.username) }}" method="post">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">{{ form.word.label }}</label>
                                        <div class="input-group">
                                            {{ form.word() }}
                                            {{ form.csrf_token }}
                                            <div class="input-group-append">
                                                {{ form.search() }}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p>Добавить во французский словарь слово "{{ french_word }}" с переводом "{{ translation }}".</p>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-5'>
                                <form action="{{ url_for('dictionary.user_process_frenchdict_insert', username=current_user.username) }}" method="post">
                                    <label for="exampleFormControlInput1">{{ translation_form.insert.label }}</label>
                                    <div class="input-group">
                                        {{ translation_form.insert() }}
                                        {{ translation_form.csrf_token }}
                                    </div>
                                    <p></p>
                                    <div class="btn-group" role="group" aria-label="First group">
                                        {{ translation_form.add() }}
                                    </div>
                                </form>
                                <form action="{{ url_for('dictionary.user_frenchdict_back', username=current_user.username) }}" method="post">
                                    {{ back_form.back_french() }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
