<nav class="navbar navbar-expand-lg navbar-dark bg-info"> <!Навигационная панель>
      <a class="navbar-brand" href="{{ url_for('home.index') }}">Deja vu words</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_anonymous %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.login') }}">Вход</a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.user', username=current_user.username) }}">Профиль<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.logout') }}">Выход</a>
          </li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.is_active %}
          <li class="">
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.register') }}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </div>
</nav>