<!Шаблон формы входа в систему>

<!наследуется шаблон base.html. При визуализации login.html, он будет встроен в base.html>
{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>  <!отображение формы имя пользователя>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>  <!отображение формы пароля пользователя>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>  <!отображение формы "запомнить меня">
        <p>{{ form.submit() }}</p>  <!отображение формы "отправить">
    </form>
{% endblock %}

<!html form - это контейнер для веб формы. Атрибут action сообщает веб браузеру url, который должен использ-ся при отправке информации, введенной польз. в форму>
<!Если для action задана пустая строка, форма передается URL-адресу, находящемуся в данный момент в адресной строке, то есть URL-адресу, который визуализирует форму на странице.>
<!Атрибут method указывает метод HTTP-запроса, который должен использоваться при отправке формы на сервер. По умолчанию он отправляется с запросом GET,>
<!но почти во всех случаях использование POST запроса улучшает взаимодействие с пользователем, поскольку запросы этого типа могут отправлять данные формы в тело запроса,>
<!в то время как запросы GET добавляют поля формы к URL-адресу, загромождая адресную строку обозревателя.>
<!Атрибут novalidate используется для указания веб-браузеру не применять проверку к полям в этой форме, что фактически оставляет эту задачу приложению Flask, запущенному на сервере.>
<!Использование novalidate является полностью необязательным, но позволит протестировать проверку на стороне сервера позже >
<!Аргумент шаблона form.hidden_tag()создает скрытое поле, содержащее токен, используемый для защиты формы от атак CSRF.>
<!Для защиты формы нужно включить это скрытое поле и определить переменную SECRET_KEY в конфигурации Flask.>